a[data-turbo-snippet] {
	position: relative;
}
.turbo-snippet {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100vw;
	max-width: 480px;
	background: #fff;
	z-index: 99999;

	&__excerpt {
		padding: 15px;
	}
}